body{background-color: rgb(161, 161, 161);}
header{
    display: flex;
    background-color: rgb(209, 79, 79);
    border: 4px ridge;
    justify-content: flex-end;
    box-shadow: 3px 3px 5px;
}
header:hover{
    background-color: rgb(187, 66, 66);
}
#logo{
    margin-right:auto;
}
.text{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.maintext{
    margin: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section{
    background-color:rgb(187, 177, 174);
    margin-top: 50px;
    display: flex;
    box-shadow: 3px 3px 5px;
    border: 4px ridge;
    align-items: center;
    width: 800px;
    flex-direction: column;
    min-width: 100%;
}